<mat-toolbar class="center flex">
        <a routerLink="/" class="margin-left-s">
            <button mat-raised-button>
                <mat-icon>keyboard_arrow_left</mat-icon><span class="mobile-hidden">Powrót</span>
            </button>
        </a>
        <span id="room">Zestawy kart</span>
        <a routerLink="/package-editor/add" class="margin-right-s">
            <button mat-raised-button color="primary">
                <mat-icon>add</mat-icon><span class="mobile-hidden">Dodaj</span>
            </button>
        </a>
</mat-toolbar>

<section class="center vertical-space-top">
    <page-game-package-list [edit]=true></page-game-package-list>
</section>