<mat-toolbar class="flex-jc-space-between">
    <a routerLink="/package-editor">
        <button mat-raised-button>
            <mat-icon>keyboard_arrow_left</mat-icon><span class="mobile-hidden" i18n="@@commonReturn">Return</span>
        </button>
    </a>
    <h1 id="room" class="flex-grow-2" i18n="@@packageCreatorPackageAdd">Add package</h1>
    <button mat-raised-button color="primary" (click)="createGamePackage()"
        [disabled]="packageName.invalid || pinModel.invalid">
        <span class="mobile-hidden space-horizontal-right-small" i18n="@@commonSend">Send</span>
        <mat-icon>send</mat-icon>
    </button>
</mat-toolbar>
<div class="space-vertical-top" id="add-package">
    <header class="container">
        <div class="flex-container flex-wrap-center">
            <img [src]="cardsPackage.image" class="space-horizontal-right-small package-thumbnail"
                (click)="chooseImage()">
            <div class="flex-container flex-dir-column space-vertical-top-small">
                <mat-form-field class="max-width" [formGroup]="packageForm">
                    <input matInput i18n-placeholder="@@packageCreatorPackageName" placeholder="Package name:" [(ngModel)]="cardsPackage.packageName"
                        formControlName="packageName" uniqueName required>
                    <mat-error *ngIf="packageName.invalid && (packageName.dirty || packageName.touched)">
                        <div *ngIf="packageName.errors.required" i18n="@@packageCreatorValidateNameRequired">Name is required!</div>
                        <div *ngIf="packageName.errors.uniqueName" i18n="@@packageCreatorValidateExist">Package with that name already exists!</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="max-width">
                    <input matInput i18n-placeholder="@@packageCreatorPackageAuthor" placeholder="Author:" [value]="playerService.getPlayer().name">
                </mat-form-field>
            </div>
        </div>

        <div class="flex-container max-width space-vertical-top-small flex-wrap-center">
            <mat-form-field class="max-width">
                <input matInput i18n-placeholder="@@packageCreatorPackageImageAddress" placeholder="Image address:" [(ngModel)]="cardsPackage.image">
            </mat-form-field>
        </div>

        <div class="flex-container">
            <mat-form-field class="max-width">
                <input type="number" matInput i18n-placeholder="@@packageCreatorPackagePIN" placeholder="PIN to edit package: " [(ngModel)]="cardsPackage.pin"
                    #pinModel="ngModel" required>
            </mat-form-field>
        </div>

        <div class="flex-container max-width flex-ai-center flex-wrap-center">
            <mat-slide-toggle class="space-horizontal-right-small" (change)="toggle($event)" i18n="@@packageCreatorPackagePrivate">Private package</mat-slide-toggle>
            <mat-form-field class="max-width" *ngIf="cardsPackage.visible">
                <input type="password" matInput i18n-placeholder="@@packageCreatorPackagePassword" placeholder="Package password:" [(ngModel)]="cardsPackage.password">
            </mat-form-field>
        </div>

        <div class="space-vertical-top-small flex-container flex-jc-space-evenly flex-wrap-center">
            <mat-form-field class="margin-right-s">
                <input matInput i18n-placeholder="@@packageCreatorPackageCardText" placeholder="Card text" [(ngModel)]="cardTitle" #cardModel="ngModel" required>
            </mat-form-field>
            <div>
                <button mat-raised-button color="accent" class="space-horizontal-right-small" (click)="addCard()"
                    [disabled]="cardModel.invalid" i18n="@@packageCreatorCardAdd">Add card</button>
            </div>
        </div>
    </header>

    <div class="container-wider">
        <hr>
        <div class="flex-center-vertical flex-wrap">
            <div *ngFor="let card of cardsPackage.cards" class="card-preview">
                <span>
                    {{card}}
                </span>
                <button mat-icon-button (click)="deleteCard(card)" class="small-mat-icon">
                    <mat-icon class="small-mat-icon">cancel</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>