<mat-toolbar class="flex-jc-space-between">
    <a routerLink="/package-editor">
        <button mat-raised-button>
            <mat-icon>keyboard_arrow_left</mat-icon><span class="mobile-hidden">Powrót</span>
        </button>
    </a>
    <span id="room">Edytuj paczkę</span>
    <button mat-raised-button color="primary" (click)="updateGamePackage(null)" [disabled]="pinModel.invalid"><span class="mobile-hidden space-horizontal-right-small">Aktualizuj</span>
        <mat-icon>send</mat-icon></button>
</mat-toolbar>
<div class="space-vertical-top-small" id="edit-package">
    <div class="container">
        <div class="flex-container flex-wrap-center">
            <img [src]="cardsPackage.image" class="space-horizontal-right-small package-thumbnail">
            <div class="flex-container flex-dir-column space-vertical-top-small">
                <mat-form-field class="max-width">
                    <input matInput placeholder="Nazwa paczki:" [(ngModel)]="cardsPackage.packageName" disabled>
                </mat-form-field>
                <mat-form-field class="max-width">
                    <input matInput placeholder="Autor:" [value]="playerService.getPlayer().name" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="space-vertical-top-small flex-container flex-wrap">
            <mat-form-field class="max-width">
                <input matInput placeholder="Adres obrazka:" [(ngModel)]="cardsPackage.image">
            </mat-form-field>
        </div>
        <div class="flex-container">
            <mat-form-field class="max-width">
                <input type="number" matInput placeholder="PIN do edycji paczki: " [(ngModel)]="cardsPackage.pin"
                    #pinModel="ngModel" required>
            </mat-form-field>
        </div>
        <div class="flex-container max-width flex-ai-center flex-wrap-center">
            <mat-slide-toggle class="space-horizontal-right-small" (change)="toggle($event)">Paczka prywatna
            </mat-slide-toggle>
            <mat-form-field class="max-width" *ngIf="cardsPackage.visible">
                <input type="password" matInput placeholder="Hasło do paczki:" [(ngModel)]="cardsPackage.password">
            </mat-form-field>
        </div>

        <div class="space-vertical-top-small flex-container flex-jc-space-evenly flex-wrap-center">
            <mat-form-field class="margin-right-s">
                <input matInput placeholder="Treść karty" [(ngModel)]="cardTitle" #cardModel="ngModel" required>
            </mat-form-field>
            <div>
                <button mat-raised-button color="accent" class="space-horizontal-right-small" (click)="addCard()"
                    [disabled]="cardModel.invalid">Dodaj
                    kartę</button>
                <input type="file" id="upload-file" (change)="getFileDetails($event)">
                    <label for="upload-file">Wybierz plik</label>
            </div>
        </div>

    </div>
    <div class="container-wider">
        <hr>
        <div class="flex-center-vertical flex-wrap space-vertical-bottom">
            <div *ngFor="let card of cardsPackage.cards" class="card-preview">
                <span>
                    {{card}}
                </span>
                <button mat-icon-button (click)="deleteCard(card)" class="small-mat-icon">
                    <mat-icon class="small-mat-icon">cancel</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>