.center{
    text-align: center!important;
    margin: auto;
    width: fit-content;
  }

  button{
    margin: 5px;
    min-width: 0;
  }
  .flex-center{
    display: flex!important;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
 
.margin-right-s{
  margin-right: 25px;
}

.big-font{
  font-size: 1.5em;
}

.vertical-space-top{
  margin-top: 3em;
}
.vertical-space-bottom{
  margin-bottom: 3em;
}