.fill-remaining-space {
    flex: 1 1 auto;
  }
.red{
  background-color: red!important;
}
.blue{
  background-color: blue!important;
}
.black{
  background-color: black!important;
}
.orange{
  background-color: orange!important;
}