//MOBILE RESOLUTION 425px
@media all and (max-width: 425px) {
  .card-package {
    width: 25%;
  }
  .mobile-hidden {
    display: none;
  }
  .container {
    padding: 0 5%;
  }
  .container-wider {
    padding: 0 2%;
  }
  .flex-wrap-xs {
    flex-wrap: wrap;
    justify-content: center;
  }
}
//TABLET RESOLUTION 768px
@media all and (min-width: 425px) and (max-width: 768px) {
  .card-package {
    width: 15%;
  }
  .container {
    padding: 0 10%;
  }
  .container-wider {
    padding: 0 5%;
  }
}
// @media all and (max-width: 1524px) and (min-width: 1025px) {
//   .card-package {
//     width: 15% !important;
//   }
// }
// @media all and (max-width: 1024px) and (min-width: 551px) {
//   .card-package {
//     width: 20% !important;
//   }
// }
@media all and (max-width: 550px) and (min-width: 250px) {
  .mobile-hidden {
    display: none;
  }
  ::ng-deep {
    h1 {
      line-height: normal !important;
    }

    .mat-dialog-container {
      text-align: center;
    }
    .mat-dialog-actions {
      justify-content: space-around !important;
    }
    .margin-xs {
      margin: 5px !important;
    }
    .margin-right-s {
      margin-right: 7px !important;
    }
    .margin-left-s {
      margin-left: 7px !important;
    }
    .margin-bottom-s {
      margin-bottom: 7px !important;
    }
    .cardPackage {
      width: 25% !important;
    }
    .mat-card {
      padding: 7px !important;
    }
    .mat-card-image {
      width: calc(100% + 14px) !important;
      margin: 0px -16px 0px -16px !important;
    }
    .flex {
      flex-wrap: wrap;
    }
    mat-toolbar .empty {
      width: 56px !important;
    }
    .big-font {
      font-size: 1.2em !important;
    }
    #cards, #cards button{
        padding: 0.2rem 1rem!important;
    }
  }
}
