<mat-toolbar [ngClass]="this.playerService.getPlayer().team == 0 ? 'background-red' : 'background-blue'">
    <div>
        <button *ngIf="!gameSession.started" mat-icon-button aria-label="Exit from game" (click)="exitGame()">
            <mat-icon>cancel</mat-icon>
        </button>
        <span id="room">Pokój numer: {{gameSession.id}}</span>
    </div>
    <div class="flex-container">
        <span>Zestaw kart: {{gameSession.gameCardPackage.packageName}}</span>
    </div>
</mat-toolbar>


<!-- Waiting room -->
<div *ngIf="gameSession.gameState !== 2; else gameEndedBlock">
    <section class="center" *ngIf="!gameSession.started; else gameStartedBlock">
        <mat-list class="player-list">
            <mat-list-item class="player-list-item player-list-item-header">
                <span class="player-name">Nazwa gracza</span>
                <span class="team-container">Drużyna</span>
                <span class="leader-container">Lider</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="player-list-item player-list-item-active">
                <span class="player-name">{{this.playerService.getPlayer().name}}</span>
                <div class="team-container">
                    <div class="team-box" [ngClass]="this.playerService.getPlayer().team == 0 ? 'background-red' : 'background-blue'"
                        (click)="changeTeam(this.playerService.getPlayer())"></div>
                </div>
                <div class="leader-container">
                    <button mat-icon-button aria-label="Lider" (click)="changeLeaderStatus(this.playerService.getPlayer())">
                        <mat-icon class="color-leader" *ngIf="this.playerService.getPlayer().leader; else elseBlock">star</mat-icon>
                        <ng-template #elseBlock>
                            <mat-icon class="color-leader">star_border</mat-icon>
                        </ng-template>
                    </button>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let player of gameSession.players" class="player-list-item">
                <span class="player-name">{{player.name}}</span>
                <div class="team-container">
                    <div class="team-box" [ngClass]="player.team == 0 ? 'background-red' : 'background-blue'"></div>
                </div>
                <div class="leader-container">
                    <span *ngIf="player.leader">
                        <mat-icon class="color-leader">star</mat-icon>
                    </span>
                </div>
            </mat-list-item>
        </mat-list>
        <button mat-raised-button color="primary" (click)="startGameSession()" [disabled]="validateGame">Start</button>
    </section>
    
    
    <!-- Game panel -->
    <ng-template #gameStartedBlock>
        <section id="infoPanel">
            <div>
                <p>Aktywna drużyna:</p>
                <div id="activePlayerColor" [ngClass]="gameSession.gameState === 0 ? 'background-red' : 'background-blue'">
                    <!-- {{gameSession.gameState}} -->
                </div>
                <button mat-raised-button (click)="endTurn()">Zakończ turę</button>
            </div>
            <div id="extraCard">
                <div *ngIf="this.playerService.getPlayer().leader">
                    <button mat-raised-button color="primary" (click)="endGame()">Zakończ grę</button>
                </div>
                <p>Bonusowa karta</p>
                <mat-checkbox color="primary">niebiescy</mat-checkbox>
                <mat-checkbox color="warn">czerwoni</mat-checkbox>
            </div>
        </section>
        <mat-list *ngIf="this.playerService.getPlayer().leader">
            <section id="cards" class="flex-container">
                <div *ngFor="let card of gameSession.gameCards" class="card">
                    <button mat-raised-button color="primary" [ngClass]="card.selected === true ? card.color+' selected-card' : card.color">
                        {{card.text}}</button>
                </div>
            </section>
        </mat-list>
        <mat-list *ngIf="!this.playerService.getPlayer().leader">
            <section id="cards" class="flex-container">
                <div *ngFor="let card of gameSession.gameCards">
                    <button [disabled]='gameSession.gameState != this.playerService.getPlayer().team' mat-raised-button color="primary"
                        [ngClass]="card.selected === true ? card.color : ''" (click)="selectedCard(card)">
                        {{card.text}}</button>
                </div>
            </section>
        </mat-list>
    
    </ng-template>

</div>
<ng-template #gameEndedBlock>
    <div>
        <p>Game has been finished!</p>
        <p>Ostatnia karta: {{cardStatistics.winner}}</p>
        <button mat-raised-button routerLink="/ui">Powrót do menu</button>
    </div>
</ng-template>
