<div *ngIf="gameSession">
    <mat-toolbar [ngClass]="this.playerService.getPlayer().team == 0 ? 'background-red' : 'background-blue'">
        <div>
            <span>Pozostało: {{gameSession.gameCardStatistics.cardToGuess}} ruchów | </span>
            <span
                *ngIf="this.playerService.getPlayer().team==0">{{gameSession.gameCardStatistics.remainingRedCards}}</span>
            <span
                *ngIf="this.playerService.getPlayer().team==1">{{gameSession.gameCardStatistics.remainingBlueCards}}</span>
            <span> kart</span>
        </div>
    </mat-toolbar>
    <section class="space">
        <div *ngIf="this.playerService.getPlayer().leader">
            <p class="flex-container">
                Liczba kart do zgadniecia
            </p>
            <div class="flex-container flex-wrap" id="quantityOfCards">
                <button *ngFor="let num of [1,2,3,4,5,6,7,8]" mat-raised-button [disabled]='gameSession.gameState != this.playerService.getPlayer().team' [ngStyle]="getCardCountSelected(num)" (click)="leaderSelect(num)">{{num}}</button>
            </div>

        </div>
        <div class="flex-container flex-jc-space-between">
            <div>

                <p>Aktywna drużyna:</p>
                <div class="flex-container flex-ai-center">
                    <div id="activePlayerColor"
                        [ngClass]="gameSession.gameState === 0 ? 'background-red' : 'background-blue'">
                        <!-- {{gameSession.gameState}} -->
                    </div>
                    <button mat-raised-button (click)="endTurn()">Zakończ turę</button>
                </div>
            </div>
            <div id="extraCard">
                <div *ngIf="this.playerService.getPlayer().leader">
                    <button mat-raised-button (click)="endGame('black')">Zakończ grę</button>
                </div>
                <p>Bonusowa karta:</p>
                <div *ngIf="this.playerService.getPlayer().team==0">
                    <mat-checkbox color="warn" [checked]="gameSession.gameCardStatistics.redBonusCards == 1">
                        <span *ngIf="gameSession.gameCardStatistics.redBonusCards == 1">Dostępna karta!</span>
                        <span *ngIf="gameSession.gameCardStatistics.redBonusCards == 0"> -- brak --</span>
                    </mat-checkbox>
                </div>
                <div *ngIf="this.playerService.getPlayer().team==1">
                    <mat-checkbox color="primary" [checked]="gameSession.gameCardStatistics.blueBounsCards == 1">
                        <span *ngIf="gameSession.gameCardStatistics.blueBounsCards == 1">Dostępna karta!</span>
                        <span *ngIf="gameSession.gameCardStatistics.blueBounsCards == 0"> -- brak --</span>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <mat-list *ngIf="this.playerService.getPlayer().leader">
            <section id="cards" class="flex-center flex-wrap">
                <div *ngFor="let card of gameSession.gameCards" class="card">
                    <button mat-raised-button color="primary"
                        [ngClass]="card.selected === true ? card.color+' selected-card' : card.color">
                        {{card.text}}</button>
                </div>
            </section>
        </mat-list>
        <mat-list *ngIf="!this.playerService.getPlayer().leader">
            <section id="cards" class="flex-center flex-wrap">
                <div *ngFor="let card of gameSession.gameCards" class="card">
                    <button [disabled]='activeCards' mat-raised-button
                        color="primary" [ngClass]="card.selected === true ? card.color : ''"
                        (click)="selectedCard(card)">
                        {{card.text}}</button>
                </div>
            </section>
        </mat-list>

    </section>

    <div *ngIf="displayDialog" class="game-turn-dialog" [ngClass]="gameSession.gameState == 0 ? 'background-red' : 'background-blue'">
        <p class="text-high-contrast">{{messageForPlayers}}</p>
    </div>

</div>