<div *ngIf="gameSession">
    <mat-toolbar [ngClass]="this.playerService.getPlayer().team == 0 ? 'background-red' : 'background-blue'">
        <div>
            <span>Pozostało: {{gameSession.gameCardStatistics.cardToGuess}}  ruchów | </span>
                <span
                    *ngIf="this.playerService.getPlayer().team==0">{{gameSession.gameCardStatistics.remainingRedCards}}</span>
                <span
                    *ngIf="this.playerService.getPlayer().team==1">{{gameSession.gameCardStatistics.remainingBlueCards}}</span>
                <span> kart</span>
        </div>
    </mat-toolbar>
    <section>
        <div *ngIf="this.playerService.getPlayer().leader">
            <p class="flex-container">
                Liczba kart do zgadniecia
            </p>
            <div class="flex-container">
                <button mat-raised-button [ngStyle]="getCardCountSelected(1)" (click)="leaderSelect(1)">1</button>
                <button mat-raised-button [ngStyle]="getCardCountSelected(2)" (click)="leaderSelect(2)">2</button>
                <button mat-raised-button [ngStyle]="getCardCountSelected(3)" (click)="leaderSelect(3)">3</button>
                <button mat-raised-button [ngStyle]="getCardCountSelected(4)" (click)="leaderSelect(4)">4</button>
                <button mat-raised-button [ngStyle]="getCardCountSelected(5)" (click)="leaderSelect(5)">5</button>
                <button mat-raised-button [ngStyle]="getCardCountSelected(6)" (click)="leaderSelect(6)">6</button>
                <button mat-raised-button [ngStyle]="getCardCountSelected(7)" (click)="leaderSelect(7)">7</button>
                <button mat-raised-button [ngStyle]="getCardCountSelected(8)" (click)="leaderSelect(8)">8</button>
            </div>

        </div>
        <section id="infoPanel">
            <div>

                <p>Aktywna drużyna:</p>
                <div id="activePlayerColor"
                    [ngClass]="gameSession.gameState === 0 ? 'background-red' : 'background-blue'">
                    <!-- {{gameSession.gameState}} -->
                </div>
                <button mat-raised-button (click)="endTurn()">Zakończ turę</button>
            </div>
            <div id="extraCard">
                <div *ngIf="this.playerService.getPlayer().leader">
                    <button mat-raised-button (click)="endGame('black')">Zakończ grę</button>
                </div>
                <p>Bonusowa karta:</p>
                <div *ngIf="this.playerService.getPlayer().team==0">
                    <mat-checkbox color="warn" [checked]="gameSession.gameCardStatistics.redBonusCards == 1">
                        <span *ngIf="gameSession.gameCardStatistics.redBonusCards == 1">Dostępna karta!</span>
                        <span *ngIf="gameSession.gameCardStatistics.redBonusCards == 0"> -- brak --</span>
                    </mat-checkbox>
                </div>
                <div *ngIf="this.playerService.getPlayer().team==1">
                    <mat-checkbox color="primary" [checked]="gameSession.gameCardStatistics.blueBounsCards == 1">
                        <span *ngIf="gameSession.gameCardStatistics.blueBounsCards == 1">Dostępna karta!</span>
                        <span *ngIf="gameSession.gameCardStatistics.blueBounsCards == 0"> -- brak --</span>
                    </mat-checkbox>
                </div>
            </div>
        </section>
        <mat-list *ngIf="this.playerService.getPlayer().leader">
            <section id="cards" class="flex-center flex-wrap">
                <div *ngFor="let card of gameSession.gameCards" class="card">
                    <button mat-raised-button color="primary"
                        [ngClass]="card.selected === true ? card.color+' selected-card' : card.color">
                        {{card.text}}</button>
                </div>
            </section>
        </mat-list>
        <mat-list *ngIf="!this.playerService.getPlayer().leader">
            <section id="cards" class="flex-center flex-wrap">
                <div *ngFor="let card of gameSession.gameCards" class="card">
                    <button [disabled]='gameSession.gameState != this.playerService.getPlayer().team' mat-raised-button
                        color="primary" [ngClass]="card.selected === true ? card.color : ''"
                        (click)="selectedCard(card)">
                        {{card.text}}</button>
                </div>
            </section>
        </mat-list>

    </section>


</div>