<div class="height-100">
    <div class="flex-center flex-dir-column max-width height-80">
        <h1 i18n="@@appTitle">Karcioszki - Menu</h1>
        <div *ngIf="playerService.getPlayer() !== null">
            <p>{{playerService.getPlayer().name}}</p>
        </div>
        <div *ngIf="gameIdList" class="margin-bottom-m">
            <h4 *ngIf="gameIdList.length !== 0" i18n="@@homeGameList">Acative game list:</h4>
            <button mat-raised-button color="accent" *ngFor="let id of gameIdList" (click)="joinGameLobby(id)">{{id}}</button>
        </div>
        <button mat-flat-button color="primary" (click)="createGameLobby()" i18n="@@homeGameCreate">Create game</button>
        <hr class="half-width">
        <a routerLink="/package-editor">
            <button mat-raised-button i18n="@@homeGameCardPackages">Card Packages</button>
        </a>
        <button mat-raised-button (click)=setTheme() class="space-vertical-top-small" i18n="@@homeChangeTheme">Change theme</button>
    </div>
</div>