<div class="flex-center">
    <div class="center">
        <h1>Karcioszki - Menu</h1>
        <div *ngIf="playerService.getPlayer() !== null">
            <p>{{playerService.getPlayer().name}}</p>
        </div>

        <div>
            <button mat-raised-button *ngFor="let id of gameIds" (click)="onSelect(id)">{{id}}</button>
        </div>
        <button mat-raised-button color="primary" (click)="openDialog()">Załóż grę</button>
        <button mat-raised-button color="accent" [disabled]="!selectedGame" (click)="navigateTo()">Dołącz</button>
        <hr>
        <a routerLink="/ui/gamePackage">
            <button mat-raised-button>Zestaw kart</button>
        </a>
    </div>
</div>