<div class="flex-center">
<div class="center">
<h1>Karcioszki - Menu</h1>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nazwa gracza" [(ngModel)]="playerName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
</form>

<div>
    <button mat-raised-button *ngFor="let id of gameIds" (click)="onSelect(id)">{{id}}</button>
</div>
<button mat-flat-button color="primary" (click)="openDialog()">Załóż grę</button>
<button mat-flat-button color="accent" [disabled]="!selectedGame" (click) = "navigateTo()">Dołącz</button>
</div>
</div>