<div class="flex-center">
    <div class="center">
        <h1>Karcioszki - Menu</h1>
        <div *ngIf="playerService.getPlayer() !== null">
            <p>{{playerService.getPlayer().name}}</p>
        </div>

        <div>
            <h4 *ngIf="gameIds.length !== 0">lista gier:</h4>

            <button mat-raised-button *ngFor="let id of gameIds" (click)="navigateTo(id)">{{id}}</button>
        </div>
        <button mat-flat-button color="primary" (click)="openDialog()">Załóż grę</button>
        <hr>
        <a routerLink="/ui/gamePackage">
            <button mat-raised-button>Zestawy kart</button>
        </a>
    </div>
</div>