<h1 mat-dialog-title class="flex-center-vertical position-relative">
    <div i18n="@@imageManagerSelectCover">
        Choose cover image
    </div>
    <button mat-icon-button class="dialog-header-button" id="close-dialog" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon>
    </button>
</h1>
<div mat-dialog-content class="flex column">

    <div id="images" class="flex-container flex-jc-space-evenly flex-wrap">
        <div *ngFor="let image of fileInfos" class="card-package margin-xs margin-bottom-s">
            <div class="imagegallery" [ngClass]="image.name == selectedImage.name ? 'card-package-selected' : ''">
                <div (click)="selectImage(image)">
                    <img mat-card-image src="{{image.url}}" />
                </div>
            </div>
        </div>
        <div *ngIf="uploadedImage.name" class="card-package margin-xs margin-bottom-s">
            <div class="imagegallery"
                [ngClass]="uploadedImage.name == selectedImage.name ? 'card-package-selected' : ''">
                <div (click)="selectImage(uploadedImage)">
                    <img mat-card-image src="{{uploadedImage.url}}" />
                </div>
            </div>
        </div>

    </div>

    <div class="flex-container flex-jc-space-between">
        <button mat-flat-button color="primary" (click)="fileInput.click()" i18n="@@imageManagerUploadCover">Upload custom cover</button>
        <input #fileInput hidden="true" type="file" id="upload-file" onclick="this.value=null" (change)="selectFile($event)" />
    </div>

</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="selectedImage" [disabled]="!selectedImage.url" i18n="@@commonSelect">Select!</button>
</div>
