<h1 mat-dialog-title class="flex-center-vertical position-relative">
    <div class="flex-center">
        {{cardPackage.packageName}}
        <span *ngIf="cardPackage.visible"> - prywatna paczka</span>
    </div>
    <div class="dialog-header-buttons">
        <button mat-icon-button color="primary" (click)="goToEditGamePackage(cardPackage.id)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="openConfirmationDialogDelete(cardPackage.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <button class="dialog-header-button" mat-icon-button id="close-dialog" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon>
    </button>
</h1>
<div mat-dialog-content>
    <header>
        <div class="flex-container flex-ai-center">
            <mat-icon>person</mat-icon> Autor paczki: <span class="normal-weight">{{cardPackage.author}}</span>
        </div>
    </header>
    <div *ngIf="!cardPackage.visible" class="space-vertical-top">
        <div>Lista kart:</div>
        <hr>
        <div class="flex-center-vertical flex-wrap">
            <div *ngFor="let card of cardPackage.cards" class="card-preview">
                <span>
                    {{card}}
                </span>
            </div>
        </div>
    </div>
</div>