<section class="center">
    <div id="card-packages" class="flex-container">
        <div *ngFor="let package of cardsPackages" class="cardPackage margin-right-s">
            <mat-card (click)="openProperties(package)">
                <div *ngIf="!package.visible">
                    <img *ngIf="!package.image" mat-card-image src="../../../../assets/graphics/default.jpg">
                    <img *ngIf="package.image" mat-card-image [src]="package.image">
                </div>
                <div *ngIf="package.visible">
                    <img mat-card-image src="../../../../assets/graphics/locked.jpg">
                </div>
                <mat-card-content>
                    {{package.packageName}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>