<div id="card-packages" class="flex-container flex-jc-space-evenly flex-wrap">
    <div *ngFor="let package of cardsPackages" class="card-package margin-xs margin-bottom-s" [ngStyle]="selectedPackage(packageName)">
        <!-- ""selectedPackage(package.packageName)"> -->
        <mat-card (click)="openProperties(package)" >
            <div class="cards-counter">
                {{package.cards.length}}
            </div>
            <div *ngIf="!package.visible">
                <img *ngIf="!package.image" mat-card-image src="../../../../assets/graphics/default.jpg">
                <img *ngIf="package.image" mat-card-image [src]="package.image">
            </div>
            <div *ngIf="package.visible">
                <img mat-card-image src="../../../../assets/graphics/locked.jpg">
            </div>
            <mat-card-content>
                {{package.packageName}}
            </mat-card-content>
        </mat-card>
    </div>
</div>