.cardPackage mat-card{
    font-weight: 500;
    cursor: pointer;
}
button.mat-menu-item{
    width: fit-content;
}
.column {
    flex-direction: column;
}
.flex {
    display: flex;
    img{
        width: 10em;
    }
}
.fill-width{
    width: -webkit-fill-available;
}
.cardPackage{
    width: 10%;
}